@import "UTF-8";

body {
    background-color: #00050E; 
}

div#espaco {
    position: relative;
    top: 0px;
    left: 0px;
}

div#astronauta {
    position: absolute;
    top: 34px;
    left: 153px;
    right: 159px;
    bottom: 94px; 
}

div#espaco img {
    width: 100%;  
}

div#astronauta img {
    width: 100%;  
}

