@import "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {                 /* Aqui estao as Variaveis */
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; /* fonte padrao */
    --fonte2: "Passion One", serif; /* fonta titulo */
    --fonte3: "Sriracha", serif;  /* fonte corpo */

}


* {                     /* Faz reset a todas estas defenicoes do documento */
    margin: 0px;
    padding: 0px;
    font-size: 1em;;
}

html, body {
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
    background-color: darkgray;
    font-family: var(--fonte1);
}

/* ============= HEADER =========== */

header {
    background-color: black;
    color: white;
    text-align: center;
}

header >h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vw;
    

}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* ============= SECTION =========== */

section {
    font-family: var(--fonte3);
    font-size: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    
   
}

section.imagem {
    background-color: rgb(47, 47, 47);
    background-size: cover;
    background-attachment: fixed; 
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.372);
    

}

section.imagem > p {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.314);
    text-shadow: 1px 1px 0px black;
    

}

section.imagem#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}

section.imagem#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    

}


/* ============= FOOTER =========== */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}